@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {

  width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1200px;
  }
}

@mixin mobile-padding-right {
  padding-right: 20px;
}

@mixin mobile-padding-left {
  padding-left: 20px;
}

@mixin mobile-padding {
  @include mobile-padding-right;
  @include mobile-padding-left;
}
