.modal-overlay {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 18px 1px rgba(0, 0, 0, 0.2);

  &--done {

    @media #{$tablet-widths} {
      width: 640px;
    }
  }

  &--fail {

    @media #{$tablet-widths} {
      width: 400px;
    }
  }

  &__header {
    text-align: center;
    text-transform: uppercase;

    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 20px;

    @media #{$tablet-widths} {
      font-size: 24px;
    }

    @media #{$desktop-widths} {
      font-size: 30px;
    }
  }

  &__text {
    @include sub-header;
    margin: 0;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 14px;
    line-height: 24px;
  }

  &__button-block {
    width: 100%;
    margin-top: 30px;

    text-align: center;
    background-color: $ligthgrey;

    @media #{$tablet-widths} {
      width: 100%;
      min-height: 150px;
    }
  }

  &__button {
    background-color: $someblue;
    color: white;
    margin: 20px;
    font-size: 21px;
    line-height: 26px;


    width: 280px;

    height: 60px;

    @media #{$tablet-widths} {
      width: 80%;
      margin: 45px;
    }

    @media #{$desktop-widths} {
      width: 70%;
    }
  }

  &--hidden {
    display: none;
  }
}
