.name {
  margin-top: 18px;
  display: flex;

  align-items: center;
  margin-right: 20px;

  @media #{$tablet-widths} {
    margin-right: 0;
    padding-left: 45px;
  }

  @media #{$desktop-widths} {
    margin-left: 0;
  }

  &:last-child {
    margin-bottom: 25px;
  }
}

.name__label {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;

  @media #{$desktop-widths} {
    margin-left: 35px;
  }
}

.name__input {
  border: none;
  background-color: $ligthgrey;
  flex-grow: 1;
  width: 30px;
  margin-left: 10px;

  padding: 18px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media #{$desktop-widths} {
    margin-right: 120px;
  }

  &::-webkit-input-placeholder {
    color: black;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &::-moz-placeholder {
    color: black;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &:-ms-input-placeholder {
    color: black;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &:hover {
    background-color: $grey;
    color: black;
  }

  &:active {
    background-color: white;
  }
}
