$bg-ligthtgrey: #fff;
$someblue: #81b3d2;
$hoverblue: #679ec0;
$downblue: #5495bc;
$grey-border: #d6d6d6;
$ligthgrey: #f2f2f2;
$grey: #e5e5e5;

$mobile-widths: "(max-width:767px)";
$tablet-widths: "(min-width:768px)";
$desktop-widths: "(min-width:1200px)";

$blue: #81b3d2;
$border-menu-dark: #678fa8;
$border-menu-light: #9ac2db;

@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

body {
  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 27px;
  color: #333;
  font-style: normal;
  box-sizing: border-box;

  background-color: #f2f2f2;
}

fieldset {
  border: none;
  margin: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}
