.form {
  width:100%;
  position: relative;

  padding-left: 10px;

  @media #{$tablet-widths} {
      padding:0px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }

  @media #{$desktop-widths} {
  
    margin-left:120px;
    margin-right:120px;
  }
}

.form::before {

  @media #{$mobile-widths} {
    content: "";
    display: block;
    position: absolute;
    width: 320px;
    left: 0px;
    height: 1px;
    margin-top: -5px;
    background-color: $grey-border;
  }


}



.form__inside-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-left: -10px;
  margin-top: 18px;

  @media #{$tablet-widths} {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left:0px;

    padding-left: 150px;
    padding-right: 150px;
  }

  @media #{$desktop-widths} {
    font-size: 22px;
  }
}

.form__inside-header::before {
    @media #{$tablet-widths} {
      content: "";
      display: block;
      position: absolute;
      width: 125px;
      left: 0px;
      height: 1px;
      top: 52px;

      background-color: $grey-border;
    }
    @media #{$desktop-widths} {
      width: 280px;
    }
}

.form__inside-header::after {
  @media #{$tablet-widths} {
    content: "";
    display: block;
    position: absolute;
    width: 125px;
    right: 0px;
    height: 1px;
    top: 52px;

    background-color: $grey-border;
  }
  @media #{$desktop-widths} {
    width: 280px;
  }
}

.form__inside-header--border::after {
    @media #{$tablet-widths} {
      top: 64px;
    }

}

.form__inside-header--border::before {
    @media #{$tablet-widths} {
      top: 64px;
  }
}


.form__inside-header--tablet::after {
  display: none;
}

.form__inside-header--tablet::before {
  display: none;
}

.form__inside-header--margin::after {
  display: none;
}

.form__inside-header--margin::before {
  display: none;
}

.form__submit {

  margin: 18px;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 89%;
  height: 58px;
  color: white;
  background-color: $someblue;
  text-transform: uppercase;
  border: none;

  @media #{$tablet-widths} {
    margin: 0;
    margin-top: 28px;
    width: 50%;
    margin-bottom: 70px;
  }
  @media #{$desktop-widths} {
    margin-left: 120px;
    width: 40%;
    margin-bottom: -60px;
  }

}

.form__checker {
  display: none;

  @media #{$tablet-widths} {
    display: block;
    position: absolute;
    text-transform: uppercase;

    font-size: 14px;
    right: 0;
    margin-top: 46px;
 }
 @media #{$desktop-widths} {
   margin-right: 120px;
 }
}
