
.form__name {
  margin-top: 20px;
  display: flex;

  align-items:center;
  margin-right: 20px;

  @media #{$tablet-widths} {
    margin-right:0;
    padding-left: 45px;
  }

  @media #{$desktop-widths} {
   margin-left: 0px;
  }
}

.form__name:last-child{
  margin-bottom: 22px;
}

.form__name-label {
  font-size: 14px;
  margin-left: 10px;

  @media #{$desktop-widths} {
   margin-left: 35px;
  }
}

.form__name-input {

  border: none;
  background-color: $ligthgrey;
  flex-grow: 1;
  width: 30px;
  margin-left: 10px;

  padding: 18px;
  font-weight: bold;

  @media #{$tablet-widths} {

  }

  @media #{$desktop-widths} {
   margin-right:120px;


  }
}

.form--tablet {
 width: 100%;
  @media #{$tablet-widths} {
    box-sizing: border-box;
    width: 50%;
  }
}

.form__inside-header--tablet {
  display: none;
  @media #{$tablet-widths} {
   display: block;
   padding: 0;
   padding-left: 55px;
   text-align: left;
   margin-bottom: 60px;
  }

  @media #{$desktop-widths} {
   display: none;
  }
}

.form__inside-header--mobileanddesktop {

  margin-top: 15px;

  @media #{$tablet-widths} {
   display: none;
  }

  @media #{$desktop-widths} {
   display: block;
   margin-top: 40px;
   padding: 0;
   margin-bottom: 55px;
   margin-left: -130px;
  }

}

.form__inside-header--mobileanddesktop::before  {
  @media #{$desktop-widths} {
    content: "";
    display: block;
    position: absolute;
    top:45px;
    width: 1px;
    left: 0px;
    height: 80%;

    margin-top: 0px;
    background-color: $grey-border;

  }
}

.form__inside-header--mobileanddesktop::after  {
  @media #{$desktop-widths} {
    display: none;
  }
}

.form__inside-header--tablet::before {

  @media #{$tablet-widths} {
    content: "";
    display: block;
    position: absolute;
    top:45px;
    width: 1px;
    left: 0px;
    height: 80%;

    margin-top: 0px;
    background-color: $grey-border;
  }

}
