.main-nav {
  display: flex;
  flex-direction: column;

  background-color: #84B2D5;

  @media #{$tablet-widths} {
    height: 0px;
    color: black;
    flex-direction: row;
  }

}

.main-nav__item {
  text-align: center;
  min-height: 53px;

  color: white;
  margin: auto;

  text-transform: uppercase;
  text-decoration: none;
  list-style: none;

  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid gray;

  @media #{$tablet-widths} {
    border-top: none;
    border-bottom:none;

    color: black;
    font-size: 10px;

  }

  @media #{$desktop-widths} {

  }
}

.main-nav__item:nth-child(2) {
  @media #{$tablet-widths} {
    margin-right: 40px;
    flex-grow: 10;
  }
}

.main-nav__item:nth-child(3) {
  @media #{$tablet-widths} {
    margin-left: 40px;
    flex-grow: 10;
  }
}


.main-nav__button {
  margin: 0;
  padding: 0;

  list-style: none;

  cursor: pointer;

  @media #{$tablet-widths} {
    display: none;
    }
}

.main-nav__button--close{
  position: absolute;
  top:0;
  right: 0;

  width: 55px;
  height: 55px;

  background-color: gray;
}

.main-nav__button--open {
  position: absolute;
  top:0;
  right: 0;

  width: 55px;
  height: 55px;

  background-color: red;

  display: none;
}
