.map {
  text-align: center;
  text-transform: uppercase;

  @media #{$desktop-widths} {
    height: 500px;
  }
}

.map__header{
  @include mobile-padding;
  margin-top: 40px;

  @media #{$tablet-widths} {
    margin-top:22px;
    font-size: 30px;
  }

   @media #{$desktop-widths} {

    }
}

.map__text{
  @include mobile-padding;
  @include sub-header;

  margin-bottom: 38px;

  line-height: 22px;

  @media #{$tablet-widths} {
    margin-top: 35px;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 43px;
  }

  @media #{$desktop-widths} {
    margin-top: 30px;
    margin-left: 31%;
    margin-right: 31%;
    margin-bottom: 47px;
   }

}


.map__button{
  height: 60px;
  width: 280px;
  background-color: $someblue;
  color: white;
  border: none;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    width: 460px;
    margin-bottom: 43px;
  }

}

.map__picture-map{

  @media #{$tablet-widths} {
    margin-top: 40px;
    height: 290px;
    width: 100%;
  }

   @media #{$desktop-widths} {
    
    }
}

.map__map-image {
  margin-top: 50px;

  @media #{$tablet-widths} {
    margin-top: 15px;
    height: 350px;
    }

   @media #{$desktop-widths} {
     margin-top: 25px;

     }
}
