.map {
  text-align: center;
  text-transform: uppercase;

  @media #{$desktop-widths} {
    height: 500px;
  }

  &__header {
    @include mobile-padding;
    margin-top: 40px;

    @media #{$tablet-widths} {
      margin-top: 22px;
      font-size: 30px;
    }
  }

  &__text {
    @include mobile-padding;
    @include sub-header;

    margin-bottom: 38px;

    line-height: 22px;

    @media #{$tablet-widths} {
      margin-top: 35px;
      margin-left: 165px;
      margin-right: 165px;
      margin-bottom: 43px;
    }

    @media #{$desktop-widths} {
      margin-top: 30px;
      margin-left: 31%;
      margin-right: 31%;
      margin-bottom: 47px;
    }
  }

  &__button {
    height: 60px;
    width: 280px;
    background-color: $someblue;
    color: white;
    border: none;
    text-transform: uppercase;
    outline: none;

    @media #{$tablet-widths} {
      width: 460px;
      margin-bottom: 43px;
    }

    &:hover {
      background-color: $hoverblue;
    }

    &:active {
      background-color: $downblue;
      color: #94b9d2;
      font-weight: 700;
    }
  }

  &__picture-map {
    @media #{$tablet-widths} {
      margin-top: 40px;
    }
  }

  &__map-image {
    margin-top: 55px;

    @media #{$tablet-widths} {
      margin-top: 15px;
      height: 350px;
      width: 768px;
    }

    @media #{$desktop-widths} {
      margin-top: 25px;
      width: 1200px;
    }
  }
}
