.page-header {
  @include container;
  position: relative;

}

.page-header__logo {
  height: 100px;
  width: 200px;
  top: 220px;
  left: 0;
  right: 0;
  margin: auto;

  background: url("../img/logo-sedona-mobile.svg") 50% 0% no-repeat;

  @media #{$tablet-widths} {
    position: absolute;
    top: 0px;
    background: url("../img/logo-sedona-tablet.svg") 50% 0% no-repeat;
    }

    @media #{$desktop-widths} {
        background: url("../img/logo-sedona-desktop.svg") 50% 0% no-repeat;
      }
}

.page-header__image-wrapper {
   display: flex;
   position: relative;

   margin: 0 auto;
   margin-top: -48px;
   height: 160px;
   z-index: -1;

   background: url("../img/bg-back-mobile.jpg") 50% 50% no-repeat;
   background-size: cover;

   @media #{$mobile-widths} and (min-resolution: 1.5dppx) {
     background: url("../img/bg-back-mobile@2x.jpg") 50% 50% no-repeat;
   }

   @media #{$tablet-widths} {
     background: url("../img/bg-back-desktop.jpg") 50% 50% no-repeat;

     margin-top: 0px;
     height: 290px;

    }

    @media #{$tablet-widths} and (min-resolution: 1.5dppx) {
       background: url("../img/bg-back-desktop@2x.jpg") 50% 50% no-repeat;
    }

    @media #{$desktop-widths} {
       height: 300px;
      }
    }

 .page-header__image-wrapper--big {
    height: 390px;
    z-index: -2;

    @media #{$tablet-widths} {
      height: 520px;
      }

   @media #{$desktop-widths} {
    height: 520px;
        }
 }

 .page-header__image{
   margin: auto;
   margin-bottom: 70px;
   width: 230px;


   @media #{$tablet-widths} {
      width: 460px;
      padding-bottom: 45px;
     }

  @media #{$desktop-widths} {

       }


 }


 .page-header__image--big{
   margin: auto;
   width: 280px;


   @media #{$tablet-widths} {
      width: 460px;
      padding-bottom: 14px;
   }

  @media #{$desktop-widths} {

       }

 }

 .page-header__triangle{
   position: absolute;
   bottom: 0;
   left: -1px;
   right: -1px;
   width: calc(100% + 2px);

 }
