.page-header {
  @include container;
  position: relative;

}

.page-header__logo {
  height: 85px;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background: url("../img/logo-sedona-mobile.svg") 50% 0% no-repeat;

  @media #{$tablet-widths} {
    top: 0px;
    background: url("../img/logo-sedona-tablet.svg") 50% 0% no-repeat;
    }

    @media #{$desktop-widths} {
        background: url("../img/logo-sedona-desktop.svg") 50% 0% no-repeat;
      }
}

.page-header__image{
   display: block;
   margin: 0 auto;
   margin-top: 50px;
   height: 160px;

   background: url("../img/bg-back-mobile.jpg") 50% 50% no-repeat;
   background-size: cover;

   @media #{$tablet-widths} {
     margin-top: 45px;
     height: 240px;
     }

    @media #{$desktop-widths} {
       margin-top: 40px;
       height: 220px;
      } }


      @media #{$desktop-widths} {
         margin-top: 40px;
         height: 220px;
        }
 .page-header__image--big {
    height: 400px;
 }
