$border: 1px solid gray;

.page-header {
  @include container;

}


.page-header__logo {
  border: 1px solid red;
  height: 85px;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-widths} {
    top: 0px;
    }
}

.page-header__image{
   display: block;
   margin: 0 auto;
   margin-top: 50px;
   height: 160px;
   border: 2px solid gray;

   @media #{$tablet-widths} {
     margin-top: 45px;
     height: 240px;
     }

    @media #{$desktop-widths} {
       margin-top: 45px;
       height: 220px;
      }
 }
