.photo-block {
  width: 100%;

  @media #{$tablet-widths} {
    width: 50%;
  }

  @media #{$desktop-widths} {
    width: 400px;
    position: relative;
    height: 267px;
  }
}

.photo-block::before {
  @media #{$mobile-widths} {
    content: "";
    display: block;
    margin: auto;
    width: 100%;
    height: 1px;
    background-color: $grey-border;
  }
}

.photo-block__image {

  position: relative;
  z-index: 0;

  @media #{$tablet-widths} {
    width: 324px;
    height: 267px;
  }

  @media #{$desktop-widths} {
    width: 400px;
    height: 267px;
  }
}

.photo-block__image-image {
  margin-left: 20px;
  margin-top: -5px;

  @media #{$tablet-widths} {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.photo-block__about {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2px;

  @media #{$tablet-widths} {
    margin-bottom: 0;
    margin-top: -7px;
    width: 100%;
    height: 80px;

    margin-left: 0;
    background-color: $ligthgrey;
  
  }

  @media #{$desktop-widths} {
    position: absolute;
    margin: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.photo-block__header {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  @media #{$tablet-widths} {

    padding-top: 10px;
    margin-left: 20px;
  }

  @media #{$desktop-widths} {
    color: white;
    padding-top: 10px;
  }
}

.photo-block__author {
  font-size: 14px;
  margin-top: -3px;

  @media #{$tablet-widths} {
    margin-top: -5px;

    margin-left: 20px;
    margin-bottom: -10px;
  }

  @media #{$desktop-widths} {
    color: white;
  }

}

.photo-block__like-button {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: bold;

  margin-top: 3px;

  @media #{$tablet-widths} {
    align-self: flex-end;

    width: 100px;
    margin-top: -30px;
    background-color: rgba(0, 0, 0, 0);
  }

  @media #{$desktop-widths} {
    color: white;
    text-align: right;
    margin-right: 20px;
  }
}

.photo-block__like-icon {
  display: inline-block;
  vertical-align: sub;
  fill: #b2b2b2;
  margin-right: 10px;

  @media #{$tablet-widths} {
    margin-right: 10px;
  }

  @media #{$desktop-widths} {
    fill: white;
    margin-right: 5px;
  }
}

.photo-block__like-icon:active {
  fill: $someblue;
}

.photo--big-for-tablet {
  @media #{$tablet-widths} {
    width: 100%;
    min-height: 460px;
    display: block;
  }

  @media #{$desktop-widths} {
    min-height: 400px;
    width: 100%;
  }
}
