.playground-cont
{
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;

text-align: center;

align-content: stretch;
justify-content:center;

background-color: gray;
}

.playground-item{
  border: 2px solid yellow;
}

.playground-cont2
{
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: row;


align-items:center;

align-content:space-between;

justify-content:space-around;

background-color: gray;

}

.playground-item2{
  background-color: yellow;

}
