.reasons-block {


}

.reasons-block__wrapper{
   display: flex;
   flex-wrap: wrap;

   align-items: stretch;
   align-content: stretch;
   justify-content:flex-start;


   @media #{$desktop-widths} {

   }
}

.reasons-header{
  margin: auto;
  border: 1px solid black;
}

.reasons-main-header__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 18px;
  margin-top: 40px;
  color: #333333;


  @media #{$tablet-widths} {
    font-size: 20px;
    margin: 50px;
    margin-bottom: 25px;
    }

   @media #{$desktop-widths} {
     margin-left: 280px;
     margin-right: 280px;
     margin-top: 50px;
     }
}

.reasons-main-header__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #333333;

  @media #{$tablet-widths} {
    margin: 30px;
    margin-top: 8px;
    margin-bottom: 50px;
    }

   @media #{$desktop-widths} {
     margin-top: 10px;
     font-size: 10px;
     }
}

.reasons {

  text-align: center;
  text-transform: uppercase;
  font-size: 12px;

  @media #{$tablet-widths} {
    width: 33%;
    }

}

.reasons-block--blue {
  background-color: $someblue;
  color: white;

    @media #{$tablet-widths} {
      height: 210px;
      }

     @media #{$desktop-widths} {
       height: 190px;
       }

}

reasons-block--triangle {
  @media #{$mobile-widths:}{
      background: url("../img/bg-triangle.svg") 100% 50% no-repeat;
  }
}

.reasons__header {
  margin-top: 40px;

  @media #{$tablet-widths} {
  margin-top: 30px;
    }

   @media #{$desktop-widths} {
     }
}

.reasons__header-text {
  margin: 20px;
  margin-top: -10px;


}

.reasons__image {
  height: 210px;

  @media #{$tablet-widths} {
    height: 210px;
    }

   @media #{$desktop-widths} {
       height: 190px;
     }
}

.reasons-block--close {
  background-color: #EEEEEE;

  @media #{$tablet-widths} {
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 33%;
    }

   @media #{$desktop-widths} {

     }
}

.reasons-mini-block {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items:stretch;

  border: 1px solid red;
  color: black;
  text-align: left;
  padding-left: 70px;

  @media #{$tablet-widths} {
    text-align: center;
    padding: 0;
    width: 100%;
    }

   @media #{$desktop-widths} {

     }
}

.reasons-mini {

  @media #{$tablet-widths} {
    display: inline-block;
    text-align: center;
    margin:auto 0;
    height: 220px;
    width: 30%;
    }

   @media #{$desktop-widths} {
     border: 1px solid red;

     text-align: center;
     margin:auto 0;
     }
}

.mini-reasons__text {
  font-size: 12px;
  text-transform: uppercase;

  @media #{$desktop-widths} {
      font-size: 10px;
    }
}
