.reasons-block {

}

.reasons-block__wrapper{
   display: flex;
   flex-wrap: wrap;

   align-items: stretch;
   align-content: stretch;
   justify-content:flex-start;

   @media #{$desktop-widths} {

   }
}

.reasons-header{
  margin: auto;
  border: 1px solid black;
}

.reasons-main-header__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 18px;
  margin-top: 40px;
  color: #333333;


  @media #{$tablet-widths} {
    font-size: 20px;
    margin: 50px;
    margin-bottom: 25px;
    }

   @media #{$desktop-widths} {
     margin-left: 280px;
     margin-right: 280px;
     margin-top: 50px;
     }
}

.reasons-main-header__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #333333;

  @media #{$tablet-widths} {
    margin: 30px;
    margin-top: 8px;
    margin-bottom: 50px;
    }

   @media #{$desktop-widths} {
     margin-top: 10px;
     font-size: 10px;
     }
}

.reasons {
  border: 1px dashed black;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  height: 210px;
  position: relative;

  @media #{$tablet-widths} {
    width: 33%;
    }

}

.reasons-block--blue {
  background-color: $someblue;
  color: white;

    @media #{$tablet-widths} {
      height: 210px;
      }

     @media #{$desktop-widths} {
       height: 190px;
       }
}

.reasons-block--triangle::before {

  @media #{$mobile-widths} {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    background: url("../img/bg-triangle.svg") 0% 50% no-repeat;
  }
}

.reasons__header {
  margin-top: 40px;

  @media #{$tablet-widths} {
    margin-top: 30px;
  }

   @media #{$desktop-widths} {
  }
}

.reasons__header-text {
  margin: 20px;
  margin-top: -10px;
}

.reasons__image{
  height: 255px;
  width: 320px;
  text-align: center;
  background-size: cover;


  @media #{$tablet-widths} {
    height: 210px;
    }

   @media #{$desktop-widths} {
       height: 190px;
     }
}

.reasons__image--sity {
    background: url("../img/photo-city.jpg" ) 50% 50% no-repeat;
    background-size: cover;

    @media (min-resolution: 1.5dppx) {
      background: url("../img/photo-city@2x.jpg") 50% 100% no-repeat;
      background-size: cover;
    }
}

.reasons__image--bridge {
    background: url("../img/photo-bridge.jpg" ) 50% 50% no-repeat;
    background-size: cover;

    @media (min-resolution: 1.5dppx) {
      background: url("../img/photo-bridge@2x.jpg") 50% 100% no-repeat;
      background-size: cover;
    }
}

.reasons-block--close {
  background-color: #EEEEEE;

  @media #{$tablet-widths} {
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 33%;
    }

   @media #{$desktop-widths} {

     }
}

.reasons-mini-block {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items:stretch;

  margin-top: 10px;
  margin-bottom: 35px;

  color: black;
  text-align: left;
  padding-left: 70px;

  @media #{$tablet-widths} {
    text-align: center;
    padding: 0;
    width: 100%;
  }

   @media #{$desktop-widths} {

     }
}

.reasons-mini {

  border: 1px solid black;

  @media #{$tablet-widths} {
    display: inline-block;
    text-align: center;
    margin:auto 0;
    height: 220px;
    width: 30%;
    }

   @media #{$desktop-widths} {
     text-align: center;
     margin:auto 0;
     }
}

.mini-reasons__header {
  margin-top: 20px;
  text-transform: uppercase;

  @media #{$desktop-widths} {

    }
}

.mini-reasons__text {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @include mobile-padding-right;

  @media #{$desktop-widths} {
      font-size: 10px;
    }
}
