.social {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


  border: 1px solid red;
  min-height: 100px;

  @media #{$tablet-widths} {
    flex-direction: row;

  }
}

.social__header{
  border: 1px solid blue;

  text-transform: uppercase;
  font-size: 20px;

  @media #{$tablet-widths} {

  }

  @media #{$desktop-widths} {

  }

}


.social__item{

  display: inline-block;
  margin: 5px;
  width: 48px;
  height: 48px;


  @media #{$tablet-widths} {
    width: 38px;
    height: 38px;
  }

  @media #{$desktop-widths} {
    width: 38px;
    height: 38px;
  }
}

.social__item--fb{
  background: $someblue url("../img/icon-facebook.svg") 50% 50% no-repeat;
  fill: white;
}

.social__item--tw{
  background: $someblue url("../img/icon-twitter.svg") 50% 50% no-repeat;
}

.social__item--yt{
  background: $someblue url("../img/icon-youtube.svg") 50% 50% no-repeat;
}



.social__copyrigth{
  border: 1px solid blue;
  text-transform: uppercase;
  font-size: 14px;

  @media #{$tablet-widths} {

  }

  @media #{$desktop-widths} {

  }
}

.social__copyrigth::after {
  background: url("../img/logo-htmlacademy.svg") 50% 50% no-repeat;
}

.social__item-wrapper {
   border: 1px solid blue;
}
