.social {
  @include container;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content:space-around;

  text-align: center;

  align-items: center;

  min-height: 220px;

  margin-top: 5px;


  @media #{$tablet-widths} {
    flex-direction: row;
    margin-top: 25px;
    min-height: 60px;

    @media #{$desktop-widths} {
      margin-top: 155px;
    }

  }
}

.social__header{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;

  @media #{$tablet-widths} {

  }

  @media #{$desktop-widths} {

  }

}

.social__item{
  display: inline-block;
  margin: 1px;
  width: 48px;
  height: 48px;

  @media #{$tablet-widths} {
    width: 48px;
    height: 48px;
  }

  @media #{$desktop-widths} {
    width: 48px;
    height: 48px;
  }
}

.social__item--fb{
  background: $someblue url("../img/icon-facebook.svg") 50% 50% no-repeat;
  fill: white;
}

.social__item--tw{
  background: $someblue url("../img/icon-twitter.svg") 50% 50% no-repeat;
}

.social__item--yt{
  background: $someblue url("../img/icon-youtube.svg") 50% 50% no-repeat;
}

.social__copyrigth {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;

  @media #{$tablet-widths} {

  }

  @media #{$desktop-widths} {

  }
}

.social__copyrigth::after {
  content: "";
  display: inline-block;
  margin-bottom: -20px;
  width: 40px;
  height: 40px;

  background: url("../img/logo-htmlacademy.svg") 100% 0% no-repeat;
}

.social__item-wrapper {

}
