.social {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;

  text-align: center;

  align-items: center;

  min-height: 210px;

  margin-top: 5px;
  padding-bottom: 20px;

  @media #{$tablet-widths} {
    flex-direction: row;
    margin-top: 25px;
    min-height: 60px;
    padding-bottom: 40px;


    @media #{$desktop-widths} {
      margin-top: 160px;
      margin-bottom: 0;
      margin-left: 120px;
      margin-right: 40px;

      justify-content: space-between;
    }
  }
}

.social__header {
  text-transform: uppercase;
  font-size: 20px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media #{$tablet-widths} {
    position: relative;
    top: -5px;
  }
}

.social__item {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  margin: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
  background: $someblue;

  @media #{$tablet-widths} {
    margin: 1px;
    width: 48px;
    height: 48px;
  }

  &:hover {
    background-color: $hoverblue;
  }

  &:active {
    background-color: $downblue;
    fill: #88b6d1;
  }
}

.social__item-wrapper {
  @media #{$desktop-widths} {
    margin-right: 75px;
  }
}

.social__icon {
  position: absolute;
  margin: 0;
  top: 14px;
  left: 15px;

  &:active {
    fill: #88b6d1;
  }
}

.social__copyrigth {
  @include sub-header;
  position: relative;
  top: 5px;
  left: 5px;
  display: inline;

  color: #000000;

  @media #{$tablet-widths} {
    top: -5px;
  }

}

.social__copyrigth-icon {
  position: relative;
  top: -5px;
  margin-bottom: -20px;
  fill: black;

  &:hover {
    fill: $someblue;
  }

  &:active {
    fill: $grey;
  }
}
